<% title "Google Search" %>
<div class="show-head">
	<div class="right-head">
      <%= image_tag("options-image.png", class: "options-image") %>
      <div class="sign-in-button">
        <a href="#">Sign in</a>
      </div>
    </div>
</div>

<!--MAIN LOGO AND SEARCH-->
<div class="show-search">
	<%= image_tag("googlelogo.png", class: "show-image") %>
	<form action="./results" method="GET">
		<div class="search-box">
			<input type="search" name="q">
			<%= image_tag("google-mic.png") %>
		</div>
		<div class="search-buttons">
			<input type="submit" name="submit" value="Google Search">
			<input type="button" name="lucky" value="I'm Feeling Lucky">
		</div>
	</form>
</div>

<!--FOOTER-->
<div class="search-footer">
	<ul style="float: left;">
		<li>Advertising</li>
		<li>Business</li>
	</ul>
	<ul style="float: right;">
		<li>Privacy</li>
		<li>Terms</li>
		<li>Settings</li>
	</ul>
</div>

